/* ============================================= 背景 ============================================= */
body {

  --guohui: url( https://haowallpaper.com/link/common/file/previewFileImg/16535084960304512);
  --qtw: url( https://haowallpaper.com/link/common/file/previewFileImg/16019647630462336);
  --flower: url( https://haowallpaper.com/link/common/file/previewFileImg/16449373166816640);
  --green: url( https://haowallpaper.com/link/common/file/previewFileImg/17090582237924736);
  --nv: url( https://haowallpaper.com/link/common/file/previewFileImg/15737845609828672);

  --background-opacity: 0.3; /* 设置背景透明度 */
  --background-image-blur: 1px; /* 设置背景图像模糊度 */
  --background-image-contrast: 140%; /* 设置背景图像对比度 */
  --background-image-saturate: 150%; /* 设置背景图像饱和度 */
  --background-image-brightness: 1; /* 设置背景图像亮度 */
}

.theme-light {
  --background-image: var(--flower);
}

.theme-dark {
  --background-image: var(--qtw);
}

body::before {
  content: "";
  position: fixed;
  background-image: var(--background-image);
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  filter: blur(var(--background-image-blur)) contrast(var(--background-image-contrast)) saturate(var(--background-image-saturate)) brightness(var(--background-image-brightness));
  opacity: var(--background-opacity);
  z-index: var(--layer-menu);
  pointer-events: none;
  transition: none;
} 